
/* Hero */

.header__container {
  display: grid;
  gap: 0 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 15rem;
}

.header__container h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: var(--white);
  text-align: center;
}

.header__container h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: var(--white);
  text-align: left;
}

.header__content .section__description {
  margin-block: 1rem 2rem;
}

.header__btns {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__btns .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.header__btns .btn span {
  font-size: 1.25rem;
  color: var(--text-dark);
  transition: 0.3s;
  
}

.header__btns .btn:hover span {
  transform: translateX(5px);
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.header__btns a:hover {
  color: var(--secondary-color);
}

.header__btns a span {
  transition: 0.3s;
}

.header__btns a:hover span {
  transform: translateX(5px);
}

.header__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__stats__card {
  min-width: 150px;
  padding: 1.5rem 2rem;
  text-align: center;
  background-image: var(--gradient-1);
  border-radius: 1rem;
}

.header__stats__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
}

/* Baner */
.music__container .section__header {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff; /* White color for main text */
  line-height: 1.4;
}

.music__container .section__header br + span,
.music__container .section__header span {
  background: linear-gradient(90deg, #ffbe33 0%, #138808 50%, #f56f02 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding: 0 0.2rem;
  border-radius: 4px;
}
.banner__container h2 {
    max-width: 900px;
    margin-inline: auto;
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
    line-height: 2.75rem;
    text-align: center;
  }

.music__content {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 4rem 1rem;
  background-image: var(--gradient-1);
  border-radius: 1rem;
}

.music__content::before,
.music__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  aspect-ratio: 1;
  border-radius: 100%;
}

.music__content::before {
  width: 100%;
  max-width: 500px;
  background-image: var(--gradient-2);
  z-index: -1;
}

.music__content::after {
  width: calc(100% - 2rem);
  max-width: 400px;
  background-image: var(--gradient-1);
  z-index: -1;
}

.music__content .section__description {
  margin-bottom: 6rem;
}

.music__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.music__btns .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music__btns .btn span {
  font-size: 1.25rem;
  color: var(--text-dark);
}

.music__btns a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.music__btns a:hover {
  color: var(--secondary-color);
}

@media (max-width: 390px) {
  .header__container h1 {
    padding-right: 10px;
  }

  .header__content p {
    padding-left: 1rem 0;
    margin-right: 40px;
  }
  .header__container h2 {
    font-size: 2rem; /* Adjust as needed */
    line-height: 3.2rem;
    text-align: center;
  }
}


@media (max-width: 420px) {
  .header__container {
    padding: .5rem 0;
  }

  .header__content p {
    margin-left: 10px;
    margin-right: 20px;
  }
  .header__container h2 {
    font-size: 2rem; /* Adjust as needed */
    line-height: 3.2rem;
    text-align: center;
  }
}


/* For screens 540px and smaller */
@media (max-width: 540px) {
  .header__container h1 {
    font-size: 2rem; /* Adjust as needed */
    line-height: 3.2rem; /* Adjust as needed */
  }
  .header__container h2 {
    font-size: 2rem; /* Adjust as needed */
    line-height: 3.2rem;
    text-align: center;
  }
}


@media (width > 540px) {
  .header__container h1 {
    font-size: 4.5rem;
    line-height: 6rem;

  }

  .genre__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 1rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-image: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-image: none;
    transform: none;
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .header__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .header__container h1 {
    font-size: 5rem;
    line-height: 7rem;
    grid-column: 1/5;
    text-align: left;
  }

  .header__content {
    grid-column: 1/3;
  }

  .header__content .section__description {
    text-align: left;
  }

  .header__btns,
  .header__stats {
    justify-content: flex-start;
  }

  .header__image {
    grid-area: 2/3/3/5;
  }

  .genre__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .feature__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .feature__image {
    grid-area: 1/2/2/3;
  }

  .feature__content .section__header {
    text-align: left;
  }

  .music__content {
    padding: 2rem 2rem;
  }

  .music__content :is(.section__header, .section__description) {
    max-width: 500px;
    text-align: left;
  }

  .music__btns {
    justify-content: flex-start;
  }

  .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (width > 1024px) {
  .genre__grid {
    gap: 2rem;
  }
}
