<div class="experience-header">
  <div class="section__container experience-grid">
    <div class="experience-title">
      <span><i class="ri-heart-line"></i></span>
      Experience
    </div>
    <div class="experience-image">
      <img src="../assets/vehicle/van2.png" alt="Experience Image" class="experience-image-content">
    </div>
    <div class="experience-content">
      <h1>Our Experience</h1>
      <h2>20 + Years of Expertise</h2>
      <p>With over 20 years in the travel industry, TangoToursSL brings unmatched expertise in providing reliable taxi services and exceptional tour arrangements across Sri Lanka.</p>
      <div class="experience-stats">
        <div class="experience-stats-card">
          <h4>25+</h4>
          <h4>Years Experience</h4>
        </div>
        <div class="experience-stats-card">
          <h4>1000+</h4>
          <h4>Happy Customers</h4>
        </div>
        <div class="experience-stats-card">
          <h4>30+</h4>
          <h4>Destination Collaborations</h4>
        </div>
      </div>
      <div class="experience-buttons">
        <button class="experience-taxi-btn">
          <span><i class="ri-car-line"></i></span>
          Book a Taxi
        </button>
      </div>
    </div>
  </div>
</div>