<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="/">
        <div class="logo__travel logo">
          <span class="logo__cu">CU</span>TOURS<span class="logo__sl">SL</span>
          <span class="logo__icon">
            <i class="ri-car-fill"></i>
          </span>
        </div>
      </a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <span><i class="ri-menu-line"></i></span>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/pages/popular">Popular</a></li> -->
    <!-- <li><a href="/pages/travel">Destinations</a></li> -->
    <li><a href="/pages/about">About</a></li>
    <!-- <li><a href="/pages/service">Services</a></li> -->
    <li><a href="/pages/contact">Contact</a></li>
    <li class="mobile-btn">
      <button class="btn">
        <a href="https://white-villa.vercel.app/" target="_blank">White Villa</a>
      </button>
    </li>
  </ul>
  <div class="nav__btns">
    <button class="btn">
      <a href="https://white-villa.vercel.app/" target="_blank">White Villa</a>
    </button>
  </div>
</nav>
<script src="/js/navbar-autohide.js"></script>