<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <nav>
    <div class="nav__header">
      <div class="nav__logo">
        <a href="/"><span class="logo__travel logo">TangoTours</span><span class="logo__sl logo">SL</span></a>
      </div>
      <div class="nav__menu__btn" id="menu-btn">
        <span><i class="ri-menu-line"></i></span>
      </div>
    </div>
    <ul class="nav__links" id="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/pages/popular">Popular</a></li>
      <li><a href="/pages/travel">Destinations</a></li>
      <li><a href="/pages/about">About</a></li>
      <li><a href="/pages/service">Services</a></li>
      <li><a href="/pages/contact">Contact</a></li>
      
      <li class="mobile-btn">
        <button class="btn">
          <a href="https://white-villa.vercel.app/" target="_blank">White Villa</a>
        </button>
      </li>
    </ul>
    <div class="nav__btns">
      <button class="btn">
        <a href="https://white-villa.vercel.app/" target="_blank">White Villa</a>
      </button>
    </div>
  </nav>
</body>
</html>
